// Small devices
$phone-mini: 420px;
// Mobile breakpoint
$phone: 576px;
// Tablet breakpoint
$tablet-mini: 768px;
// Laptop breakpoint
$tablet: 1280px;
// Macbook breakpoint
$macbook: 1918px;
// Desktop 1080 breakpoint
$desktop-1080: 2880px;
// Desktop 2k breakpoint
$desktop-2k: 2880px;
// Desktop 4k breakpoint
$desktop-4k: 3072px;